 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  } 
  body{
    margin: 0;
   background-color: rgb(40, 1, 48);
  margin: 0% 10%;
  color: white;
 }

 h4{
   font-size: 1rem;
   color: rgb(26, 5, 5);
 }
  h3{
   font-size: 1.5rem;
   color: rgb(19, 3, 3);
   line-height: 2.5rem;
  margin: 2rem 0rem;
 }

 a{
   color:rgb(26, 14, 14);
 }
